* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.col1 {
  width: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset1 {
  margin-left: 8.3333333333%; }

.offset2 {
  margin-left: 16.6666666667%; }

.offset3 {
  margin-left: 25%; }

.offset4 {
  margin-left: 33.3333333333%; }

.offset5 {
  margin-left: 41.6666666667%; }

.offset6 {
  margin-left: 50%; }

.offset7 {
  margin-left: 58.3333333333%; }

.offset8 {
  margin-left: 66.6666666667%; }

.offset9 {
  margin-left: 75%; }

.offset10 {
  margin-left: 83.3333333333%; }

.offset11 {
  margin-left: 91.6666666667%; }

.offset12 {
  margin-left: 100%; }

body {
  background-color: black;
  font-family: 'Permanent Marker', cursive;
  color: white; }

.col {
  min-height: 49px;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px; }

h1 {
  font-size: 24px; }

.welcomeLogo {
  display: flex;
  justify-content: space-between; }

.title {
  margin-left: 10px; }

.loyalty .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px; }
  .loyalty .row .cupBought {
    flex: 1;
    text-align: center;
    color: #ffffff; }
  .loyalty .row .cupNotBought {
    flex: 1;
    text-align: center;
    color: #9C9797; }
  .loyalty .row .fa-glass-whiskey {
    font-size: 3em;
    transform: scale(1, 1.5); }
  .loyalty .row .cupFree {
    display: flex;
    position: relative;
    flex: 1;
    text-align: center; }
  .loyalty .row .cupImage {
    display: flex;
    position: absolute;
    color: #9C9797;
    z-index: 5;
    flex: 1;
    text-align: center;
    margin-left: 10px;
    top: 0;
    left: 0; }
  .loyalty .row .free {
    z-index: 10;
    flex: 1;
    text-align: center;
    top: 0;
    left: 0; }
.loyalty h5 {
  text-align: center; }

.menuContainer {
  text-align: center; }
  .menuContainer .menuList {
    list-style: none;
    line-height: normal; }
    .menuContainer .menuList .menuItemTitle {
      font-size: 14px;
      padding-top: 10px; }
    .menuContainer .menuList .menuTitle {
      color: #FFFD80;
      font-size: 16px; }
    .menuContainer .menuList .menuItem {
      font-size: 12px;
      line-height: 90%; }
    .menuContainer .menuList .item1 {
      color: #5ECC60; }
    .menuContainer .menuList .item2 {
      color: #DB3B99; }
    .menuContainer .menuList .item3 {
      color: #DEC13E; }
    .menuContainer .menuList .item4 {
      color: #C91006; }
    .menuContainer .menuList .item5 {
      color: #2BC2BA; }

.placeOrder {
  border: 1px solid #ffffff;
  width: 275px;
  margin: 20px auto 0 auto;
  text-align: center;
  border-radius: 15px; }
  .placeOrder h2 {
    font-size: 30px; }

.progressSection {
  position: fixed; }

.pageTitle {
  background-color: #404040;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px; }
  .pageTitle h1 {
    padding-left: 10px; }

.pageTabs .col3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000; }
  .pageTabs .col3 h3 {
    font-size: 16px; }
  .pageTabs .col3 h4 {
    font-size: 12px; }
.pageTabs .active {
  background-color: #352647;
  color: #ffffff; }

.pageTabs:after {
  clear: both;
  display: block;
  content: ''; }

/*# sourceMappingURL=style.css.map */
