* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive; }

.col1 {
  width: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset1 {
  margin-left: 8.3333333333%; }

.offset2 {
  margin-left: 16.6666666667%; }

.offset3 {
  margin-left: 25%; }

.offset4 {
  margin-left: 33.3333333333%; }

.offset5 {
  margin-left: 41.6666666667%; }

.offset6 {
  margin-left: 50%; }

.offset7 {
  margin-left: 58.3333333333%; }

.offset8 {
  margin-left: 66.6666666667%; }

.offset9 {
  margin-left: 75%; }

.offset10 {
  margin-left: 83.3333333333%; }

.offset11 {
  margin-left: 91.6666666667%; }

.offset12 {
  margin-left: 100%; }

body {
  background-color: black;
  font-family: 'Permanent Marker', cursive;
  color: white; }

.col {
  min-height: 49px;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px; }

h1 {
  font-size: 24px; }

.welcomeLogo {
  display: flex;
  justify-content: space-between; }

.title {
  margin-left: 10px; }

.loyalty .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px; }
  .loyalty .row .cupBought {
    flex: 1;
    text-align: center;
    color: white; }
  .loyalty .row .cupNotBought {
    flex: 1;
    text-align: center;
    color: #9C9797; }
  .loyalty .row .fa-glass-whiskey {
    font-size: 3em;
    transform: scale(1, 1.5); }
  .loyalty .row .cupFree {
    display: flex;
    position: relative;
    flex: 1;
    text-align: center; }
  .loyalty .row .cupImage {
    display: flex;
    position: absolute;
    color: #9C9797;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%); }
  .loyalty .row .free {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; }
.loyalty h5 {
  text-align: center; }

.menuContainer {
  text-align: center; }
  .menuContainer .menuList {
    list-style: none;
    line-height: normal; }
    .menuContainer .menuList .menuItemTitle {
      font-size: 1.25em;
      padding-top: 10px; }
    .menuContainer .menuList .menuTitle {
      color: #FFFD80;
      font-size: 16px; }
    .menuContainer .menuList .menuItem {
      font-size: 0.75em;
      line-height: 90%; }
    .menuContainer .menuList .item1 {
      color: #5ECC60; }
    .menuContainer .menuList .item2 {
      color: #DB3B99; }
    .menuContainer .menuList .item3 {
      color: #DEC13E; }
    .menuContainer .menuList .item4 {
      color: #C91006; }
    .menuContainer .menuList .item5 {
      color: #2BC2BA; }

a {
  text-decoration: none;
  color: white; }

.placeOrder {
  border: 1px solid white;
  width: 275px;
  margin: 20px auto 12px auto;
  text-align: center;
  border-radius: 15px; }
  .placeOrder h2 {
    font-size: 30px; }

.progressSection {
  position: fixed;
  width: 100%; }

.pageTitle {
  background-color: #404040;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px; }
  .pageTitle h1 {
    padding-left: 10px; }

.pageTabs {
  display: flex; }
  .pageTabs .col3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #000000;
    border-right: 0;
    color: #000000; }
    .pageTabs .col3 h3 {
      font-size: 16px; }
    .pageTabs .col3 h4 {
      font-size: 12px; }
  .pageTabs .active {
    background-color: #352647;
    color: white; }

.pageTabs:after {
  clear: both;
  display: block;
  content: ''; }

.progressBar {
  width: 100%;
  height: 10px;
  background-color: white; }

#bar {
  background-color: #3B7A26;
  width: 25%;
  height: 10px;
  transition: 0.5s; }

.orderingContent {
  margin: 0 auto;
  padding-top: 110px;
  width: 90%; }
  .orderingContent .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: 10px;
    height: 80px;
    background-color: #363636;
    font-size: 14px; }
    .orderingContent .box .btns {
      display: flex;
      align-items: center;
      justify-content: center; }
    .orderingContent .box .smallBtn {
      padding: 5px 2px 5px 2px;
      border: 1px solid white;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #363636;
      font-size: 12px;
      color: white; }
    .orderingContent .box .largeBtn {
      padding: 5px 2px 5px 2px;
      border-right: 1px solid white;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      border-left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #363636;
      font-size: 12px;
      color: white; }
  .orderingContent .item1 {
    color: #5ECC60; }
  .orderingContent .item2 {
    color: #DB3B99; }
  .orderingContent .item3 {
    color: #DEC13E; }
  .orderingContent .item4 {
    color: #C91006; }
  .orderingContent .item5 {
    color: #2BC2BA;
    margin-bottom: 108px; }
  .orderingContent .confirmBtn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: 0;
    background-color: #3B7A26;
    color: white;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px; }

.confirmOrderContent {
  padding-top: 110px;
  display: none; }
  .confirmOrderContent .mainContainer {
    margin: 0 auto;
    width: 90%; }
    .confirmOrderContent .mainContainer .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      margin-top: 10px;
      height: 80px;
      background-color: #363636;
      font-size: 14px; }
      .confirmOrderContent .mainContainer .box .btns {
        display: flex;
        align-items: center;
        justify-content: center; }
      .confirmOrderContent .mainContainer .box .smallBtn {
        margin-left: 5px;
        padding: 5px 2px 5px 2px;
        border: 1px solid white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #363636;
        font-size: 12px;
        color: white; }
      .confirmOrderContent .mainContainer .box .largeBtn {
        width: 25px;
        display: block;
        padding: 5px 2px 5px 2px;
        border-right: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #363636;
        font-size: 12px;
        color: white; }
    .confirmOrderContent .mainContainer .item1 {
      color: #5ECC60; }
    .confirmOrderContent .mainContainer .item2 {
      color: #DB3B99; }
    .confirmOrderContent .mainContainer .item3 {
      color: #DEC13E; }
    .confirmOrderContent .mainContainer .item4 {
      color: #C91006; }
    .confirmOrderContent .mainContainer .item5 {
      color: #2BC2BA;
      margin-bottom: 108px; }
    .confirmOrderContent .mainContainer .previousBtn {
      position: fixed;
      bottom: 60px;
      float: left;
      border: 0;
      background-color: #A62323;
      color: white;
      font-size: 24px;
      padding-left: 5px;
      padding-right: 5px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-top: 10px;
      left: 20px; }
    .confirmOrderContent .mainContainer .confirmBtn {
      position: fixed;
      bottom: 60px;
      right: 20px;
      border: 0;
      background-color: #3B7A26;
      color: white;
      font-size: 24px;
      padding-left: 5px;
      padding-right: 5px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-top: 10px; }

.paymentContent {
  width: 90%;
  margin: 0 auto;
  padding-top: 110px;
  display: none; }
  .paymentContent .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .paymentContent .inStore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid white;
    height: 80px;
    width: 320px;
    margin-top: 20px;
    font-size: 24px; }
  .paymentContent .payNow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid white;
    height: 80px;
    width: 320px;
    margin-top: 20px;
    font-size: 24px; }
  .paymentContent .creditCardPayment {
    display: none;
    padding: 5px;
    margin-top: 10px;
    background-color: #363636;
    font-size: 14px; }
    .paymentContent .creditCardPayment .cardDetails input {
      width: 100%; }
    .paymentContent .creditCardPayment .row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .paymentContent .creditCardPayment .submitBtn {
      border: 0;
      background-color: #3B7A26;
      color: white;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      margin-top: 10px; }
  .paymentContent .previousBtn {
    position: fixed;
    bottom: 60px;
    float: left;
    border: 0;
    background-color: #A62323;
    color: white;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    left: 20px; }

.timeContent {
  padding-top: 110px;
  display: none; }
  .timeContent .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .timeContent .readyTime {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid white;
    height: 80px;
    width: 320px;
    margin-top: 30px;
    font-size: 30px; }

.totalBar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #737373;
  padding-left: 10px;
  padding-right: 10px; }
  .totalBar h2 {
    font-size: 24px; }

@media screen and (min-width: 1000px) {
  .menuContainer .menuList .menuItemTitle {
    font-size: 1.5em;
    padding-top: 10px; }
  .menuContainer .menuList .menuTitle {
    color: #FFFD80;
    font-size: 1.75em; }
  .menuContainer .menuList .menuItem {
    font-size: 1em;
    line-height: 90%; }

  .orderingContent .box {
    font-size: 20px; }
    .orderingContent .box .smallBtn {
      font-size: 18px; }
    .orderingContent .box .largeBtn {
      font-size: 18px; }

  .confirmOrderContent .mainContainer .box {
    font-size: 20px; }
    .confirmOrderContent .mainContainer .box .smallBtn {
      font-size: 18px; }
    .confirmOrderContent .mainContainer .box .largeBtn {
      font-size: 18px; }

  .paymentContent .creditCardPayment {
    margin: 10px auto 62px auto;
    width: 70%;
    font-size: 20px; }
    .paymentContent .creditCardPayment form .cardDetails input {
      font-size: 20px; }
    .paymentContent .creditCardPayment form .row .card input {
      font-size: 20px; }
    .paymentContent .creditCardPayment .submitBtn {
      font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
