*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

@import 'variables';

body{
 background-color: black;
 font-family: 'Permanent Marker', cursive;
 color: $mainColour;
}

.col{
    min-height: 49px;
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

h1{
  font-size: 24px;
}

.welcomeLogo{
  display: flex;
  justify-content: space-between;
}

.title{
  margin-left: 10px;
}

.loyalty{

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    .cupBought{
      flex: 1;
      text-align: center;
      color: #ffffff;
    }
    .cupNotBought{
      flex: 1;
      text-align: center;
      color: #9C9797;
    }
    .fa-glass-whiskey{
      font-size: 3em;
      transform:scale(1,1.5);
    }
    .cupFree{
      display: flex;
      position: relative;
      flex: 1;
      text-align: center;
      }
      .cupImage{
        display: flex;
        position: absolute;
        color: #9C9797;
        z-index: 5;
        flex: 1;
        text-align: center;
        margin-left: 10px;
        top: 0;
        left: 0;
      }
      .free{
        z-index: 10;
        flex: 1;
        text-align: center;
        top: 0;
        left: 0;
      }
  }
  h5{
    text-align:center;
  }
}

.menuContainer{
  text-align: center;
  .menuList{
    list-style: none;
    line-height: normal;
    .menuItemTitle{
      font-size: 14px;
      padding-top: 10px;
    }
    .menuTitle{
      color: #FFFD80;
      font-size: 16px;
    }
    .menuItem{
      font-size: 12px;
      line-height: 90%;
    }
    .item1{
      color: #5ECC60;
    }
    .item2{
      color: #DB3B99;
    }
    .item3{
      color: #DEC13E;
    }
    .item4{
      color: #C91006;
    }
    .item5{
      color: #2BC2BA;
    }
  }
}

.placeOrder{
  border: 1px solid #ffffff;
  width: 275px;
  margin: 20px auto 0 auto;
  text-align: center;
  h2{
    font-size: 30px;
  }
  border-radius: 15px;
}

.progressSection{
  position: fixed;
  width: 100%;
}

.pageTitle{
  background-color: #404040;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  h1{
    padding-left: 10px;
  }
}

.pageTabs{
  .col3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    h3{
      font-size: 16px;
    }
    h4{
      font-size: 12px;
    }
  }
  .active{
    background-color: #352647;
    color: #ffffff;
  }
}



.pageTabs:after {
    clear: both;
    display: block;
    content: '';
}

.progressBar{
  width: 100%;
  height: 10px;
  background-color: #ffffff;
}

.bar{
  background-color: #3B7A26;
  width: 25%;
  height: 10px;
}

.orderingContent{
  padding-top: 110px;
  display: none;
}

.confirmOrderContent{
  padding-top: 110px;
  display: none;
}

.paymentContent{
  padding-top: 110px;
  display: none;
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .inStore{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid #ffffff;
    height: 80px;
    width: 320px;
    margin-top: 20px;
    font-size: 24px;
  }
  .payNow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid #ffffff;
    height: 80px;
    width: 320px;
    margin-top: 20px;
    font-size: 24px;
  }
}

.timeContent{
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  padding-top: 110px;
  display: none;
  .readyTime{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 10px;
    border: 1px solid #ffffff;
    height: 80px;
    width: 320px;
    margin-top: 30px;
    font-size: 30px;
  }
}


.totalBar{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #737373;
  padding-left: 10px;
  padding-right: 10px;
  h2{
    font-size: 24px;
  }
}
